<div class="page-header">
  <h4>
    <%= link_to like_submission_path(@submission), method: :put do %>
      <i class="fa fa-caret-up fa-lg " aria-hidden="true"></i>
    <% end %>
    <%= @submission.title %>
    <a href="<%= @submission.url %>"><%= @submission.url %></a>
  </h4>
  <p><%= @submission.get_upvotes.size %> points by <%= @submission.user.email %> <%= time_ago_in_words(@submission.created_at) %> ago | <%= link_to "#{@submission.comments.count} comments", @submission %> </p>
  <br>
  <% if current_user == @submission.user %>
  <%= button_to "Edit Submission", edit_submission_path%>

  <%= button_to "Delete Submission", submission_path, method: :delete,  data: {confirm: 'Are you sure?'}%>

  <% end %>

  <%= simple_form_for [@submission, Comment.new] do |f| %>
    <%= f.text_area :body, class: "form-control" %>
    <br>
    <%= f.submit "add comment" %>
  <% end %>

  <div id="comments">
    <%= render :partial => @submission.comments %>
  </div>
</div>